* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  height: 100vh;
  display: grid;
  grid-template-columns: 120px 150px 1fr 180px;
  grid-template-rows: 80px 1fr;
}
nav {
  background-color: rgb(202, 215, 213);
  grid-row: 2/-1;
  padding-left: 5px;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 6px;
  justify-content: space-between;
}
div {
  display: flex;
  flex-shrink: 0;
}
button {
  padding: 10px 15px;
  color: white;
  background: #555;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
menu {
  background-color: rgb(169, 170, 179);
  grid-column: 1/-1;
  display: inline-block;
  align-content: center;
  text-align: center;
}
section {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  gap: 30px;

  background-color: rgb(161, 153, 161);
}
.name {
  display: flex;
  padding: 40px;
  flex-shrink: 0;
  background-color: beige;
}

aside {
  overflow-y: scroll;
  background-color: rgb(113, 113, 113);
}
main {
  background-color: #f9fafa;
}
